<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>FPeople</title>
		<!-- Favicons-->
		<link rel="shortcut icon" href="assets/images/favicon.png">
		<link rel="apple-touch-icon" href="assets/images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="assets/images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="assets/images/apple-touch-icon-114x114.png">
		<!-- Web Fonts-->
		<link href="https://fonts.googleapis.com/css?family=Poppins:500,600,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Hind:400,600,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lora:400i" rel="stylesheet">
		<!-- Bootstrap core CSS-->
		<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Icon Fonts-->
		<link href="assets/css/font-awesome.min.css" rel="stylesheet">
		<link href="assets/css/linea-arrows.css" rel="stylesheet">
		<link href="assets/css/linea-icons.css" rel="stylesheet">
		<link href="assets/css/animate.css" rel="stylesheet">
		<!-- Plugins-->
        <link rel="stylesheet" type="text/css" href="assets/plugins/slick/slick.css">
        <link rel="stylesheet" type="text/css" href="assets/plugins/slick/slick-theme.css"/>
        
        <!-- Owl Stylesheets -->
        <link rel="stylesheet" href="assets/plugins/owlcarousel/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/plugins/owlcarousel/assets/owl.theme.default.min.css">
        
		<!-- Template core CSS-->
		<link href="assets/css/style.css" rel="stylesheet">
	</head>
	<body>
        
        <header>
            <div class="col logo-big">
                <div class="head-box">
                    <img class='img-responsive' src='assets/images/logo.png' />
                </div>
            </div>
            <nav class="navbar navbar-toggleable-md navbar-inverse no-padding">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand logo-small" href="#">
                    <img class='img-responsive logo-mobile' src='assets/images/logo.png' />
                </a>

                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Fashion <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Beauty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Lifestyle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Potrait</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Snatch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                    <div class="my-2 my-lg-0">
                        <ul class="navbar-nav icon-medsos">
                            <li class="nav-item">
                                <a class="nav-link" href="#"><img class='' src='assets/images/icon-facebook.png' /></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><img class='' src='assets/images/icon-twitter.png' /></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><img class='' src='assets/images/icon-instagram.png' /></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><img class='' src='assets/images/icon-path.png' /></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><img class='' src='assets/images/icon-youtube.png' /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        
        <div id='header-slide' class="container-fluid">
            <section id='slider-home' class="center slider">
                    <div>
                        <img src="assets/images/headerlifestyle2.jpg" />
                        <div class="caption">Slide 1 Caption</div>
                    </div>
                    <div>
                        <img src="assets/images/headerlifestyle1.jpg" />
                        <div class="caption">Slide 2 Caption</div>
                    </div>
                    <div>
                        <img src="assets/images/headerlifestyle2.jpg" />
                        <div class="caption">Slide 3 Caption</div>
                    </div>
            </section>
        </div>

        <div id="content-body">
            <div  class="container">
                <div class="row row-offcanvas row-offcanvas-left">
                    <hr />
                    <div class="web_potrait">
                        <p class="hidden-md-up sideBtn navbar-inverse">
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="offcanvas">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </p>
                        
                        <div class="col col-md-3 col-xs-12 sidebar-offcanvas" id="sidebar">
                            <div class="side-section">
                                <div class="side-header">latest issue</div>
                                <ul class="side-list">
                                    <li><a href="#" class="active">Travellust</a></li>
                                    <li><a href="#" class="">Gastronome</a></li>
                                    <li><a href="#" class="">Pleasure</a></li>
                                    <li><a href="#" class="">Healhty Life</a></li>
                                    <li><a href="#" class="">Cutting Edge</a></li>
                                    <li><a href="#" class="">Auto Lux</a></li>
                                    <li><a href="#" class="">Feast</a></li>
                                </ul>
                            </div>
                            <div class="side-section">
                                <div class="side-header">previous issue</div>
                                <ul class="side-list">
                                    <li><a href="#" class="">Vol.09 | october 2017</a></li>
                                    <li><a href="#" class="">Vol.08 | september 2017</a></li>
                                    <li><a href="#" class="">Vol.07 | august 2017</a></li>
                                    <li><a href="#" class="">Vol.06 | july 2017</a></li>
                                    <li><a href="#" class="">Vol.05 | june 2017</a></li>
                                    <li><a href="#" class="">Vol.04 | may 2017</a></li>
                                    <li><a href="#" class="">Vol.03 | april 2017</a></li>
                                    <li><a href="#" class="">Vol.06 | july 2017</a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="col col-md-9 col-xs-12 fashion-3">

                            <div class="content-bottom">
                                <div class="col-lg-12">
                                    <div class="row blog-grid">
                                        <div class="col-md-12 col-lg-12 post-item">
                                            <!-- Post-->
                                            <div class="row">
                                                <article class="post col-md-12 col-lg-12">
                                                    <img src ='assets/images/lifestyle4-1.jpg'>
                                                </article>
                                                <!-- Post end-->
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-lg-12 post-item">
                                            <!-- Post-->
                                            <div class="row">
                                                <article class="post col-md-6 col-lg-6">
                                                    <img src ='assets/images/lifestyle4-2.jpg'>
                                                </article>
                                                <!-- Post end-->
                                                <!-- Post-->
                                                <article class="post col-md-6 col-lg-6">
                                                    <img src ='assets/images/lifestyle4-3.jpg'>
                                                </article>
                                                <!-- Post end-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="web-lifestyle2">
                                <h1>BLACKBIRD HOTEL</h1>
                                <span>VOL.08 / 08.2017</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis quam at felis sollicitudin, nec egestas dui feugiat. Maecenas scelerisque a libero et iaculis. Donec a enim auctor, semper nunc in, luctus lacus. Aenean laoreet neque sed nisi tincidunt semper. Nam tincidunt, mauris id dignissim convallis, dui orci ornare mauris, non elementum libero diam nec enim. Ut nec metus ultricies, consequat risus at, venenatis velit. Vivamus ultrices gravida ornare. Aliquam pulvinar velit nulla, eget convallis tortor commodo vitae. Morbi et erat at augue sollicitudin sollicitudin. Cras tempor elit non tristique luctus. Duis et leo nibh. Mauris pretium semper urna, in tristique massa. Sed sagittis, urna at volutpat bibendum, justo enim ornare dolor, nec molestie arcu neque vel urna. Sed bibendum tincidunt nulla, sit amet blandit nisl. Proin interdum dictum nibh vitae facilisis. Morbi ut sollicitudin purus.</p>
                                <p>Nulla in metus risus. Integer rhoncus vitae sapien id vestibulum. Nulla placerat urna quam, at interdum mauris laoreet id. Praesent egestas ligula aliquam magna tempor pharetra. Curabitur non mauris pharetra, tempor ex sit amet, semper massa. Cras semper lectus in velit bibendum, vel cursus ex gravida. Aenean eleifend, nibh eget tristique accumsan, neque tortor laoreet justo, et pellentesque velit nisl vitae lectus. Etiam euismod dolor eget ex varius egestas. Vivamus rutrum luctus aliquet. Vivamus sodales lacus ut interdum aliquet. Phasellus id quam mi. Nunc tempor et magna eget ullamcorper. Integer facilisis metus eu orci porta venenatis. In vitae mi risus.</p>
                                <p>In vel quam pulvinar, interdum augue sit amet, venenatis lorem. Etiam elementum sem odio, volutpat sagittis nisl pharetra non. Pellentesque ullamcorper ultrices nisl. In et malesuada dolor, vel consequat elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus sagittis, orci vitae feugiat facilisis, orci urna rhoncus diam, non pretium lacus felis sed sapien. In imperdiet lorem non libero tincidunt cursus. Suspendisse ultricies sodales libero, vitae dictum dolor gravida euismod. Vivamus iaculis dolor quis velit tristique vehicula.</p>
                                <img src="assets/images/lifestyle2-page.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id='content-footer'>
            <div class="container">
                <div class="row">
                    <div class="top-footer">
                        <div class="col-md-12 col-lg-3"><h3>Subscribe:</h3></div>
                        <div class="col-md-12 col-lg-6"><input type="text" class="form-control" name=''/></div>
                        <div class="col-md-12 col-lg-3">
                            <ul class="icon-medsos">
                                <li class="nav-item">
                                    <a href="#"><img class='' src='assets/images/icon-facebook.png' /></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#"><img class='' src='assets/images/icon-twitter.png' /></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#"><img class='' src='assets/images/icon-instagram.png' /></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#"><img class='' src='assets/images/icon-path.png' /></a>
                                </li>
                                <li class="nav-item">
                                    <a href="#"><img class='' src='assets/images/icon-youtube.png' /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="bottom-footer">
                        <div class="menu-footer">
                            <div class="menu-footer-header">Fashion</div>
                            <ul class="menu-list">
                                <li><a href="#">Fashion News</a></li>
                                <li><a href="#">Insight</a></li>
                                <li><a href="#">Trend Alert</a></li>
                            </ul>
                        </div>
                        <div class="menu-footer">
                            <div class="menu-footer-header">Beauty</div>
                            <ul class="menu-list">
                                <li><a href="#">Beauty Trend</a></li>
                                <li><a href="#">Beauty News</a></li>
                                <li><a href="#">Suitor</a></li>
                                <li><a href="#">Beauty Box</a></li>
                            </ul>
                        </div>
                        <div class="menu-footer">
                            <div class="menu-footer-header">Lifestyle</div>
                            <ul class="menu-list">
                                <li><a href="#">Beauty Trend</a></li>
                                <li><a href="#">Beauty News</a></li>
                                <li><a href="#">Suitor</a></li>
                                <li><a href="#">Beauty Box</a></li>
                            </ul>
                        </div>
                        <div class="menu-footer">
                            <div class="menu-footer-header">Potrait</div>
                            <ul class="menu-list">
                                <li><a href="#">Cover Story</a></li>
                                <li><a href="#">Profile</a></li>
                            </ul>
                        </div>
                        <div class="menu-footer">
                            <div class="menu-footer-header">Snatch</div>
                            <ul class="menu-list">
                                <li><a href="#">Upcoming Events</a></li>
                                <li><a href="#">Previous Events</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
		<!-- Scripts-->
		<script type="text/javascript" src="assets/js/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="assets/js/tether.min.js"></script>
		<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
        <!-- Script plugins--> 
        <script type="text/javascript" charset="utf-8" src="assets/plugins/slick/slick.js"></script>
        <script src="assets/plugins/owlcarousel/owl.carousel.js"></script>
        
        
        <script type="text/javascript">
            $(document).on('ready', function() {
                
                var divHeight = $('.col-1').height(); 
                $('.col-2').css('height', divHeight+'px');
                
                $("#slider-home").slick({
                    dots: false,
                    infinite: true,
                    centerMode: true,
                    slidesToShow: 1
                  });
                
                $('[data-toggle="offcanvas"]').click(function () {
                    $('.row-offcanvas').toggleClass('active')
                  });
                
                // reference for main items
                  var slider = $('#slider');
                  // reference for thumbnail items
                  var thumbnailSlider = $('#thumbnailSlider');
                  //transition time in ms
                  var duration = 500;

                  // carousel function for main slider
                  slider.owlCarousel({
                   loop:false,
                   nav:false,
                   items:1
                  }).on('changed.owl.carousel', function (e) {
                   //On change of main item to trigger thumbnail item
                   thumbnailSlider.trigger('to.owl.carousel', [e.item.index, duration, true]);
                  });

                  // carousel function for thumbnail slider
                  thumbnailSlider.owlCarousel({
                   loop:false,
                   center:true, //to display the thumbnail item in center
                   nav:false,
                   responsive:{
                    0:{
                     items:3
                    },
                    600:{
                     items:4
                    },
                    1000:{
                     items:6
                    }
                   }
                  }).on('click', '.owl-item', function () {
                   // On click of thumbnail items to trigger same main item
                   slider.trigger('to.owl.carousel', [$(this).index(), duration, true]);

                  }).on('changed.owl.carousel', function (e) {
                   // On change of thumbnail item to trigger main item
                   slider.trigger('to.owl.carousel', [e.item.index, duration, true]);
                  });


                  //These two are navigation for main items
                  $('.slider-right').click(function() {
                   slider.trigger('next.owl.carousel');
                  });
                  $('.slider-left').click(function() {
                   slider.trigger('prev.owl.carousel');
                  });
                
            });
            
            
        </script>
	</body>
</html>